.container {
  .content {
    margin: 70px 11%;
    align-items: center;

    .list-head {
      color: #ffffff;
      border: 2px solid #6d37a2;
      padding: 10px 30px;
      background-color: #b676da;
      margin-bottom: 0;
    }
  }  
}
  

